<ion-content>
  <ion-grid *ngFor="let source of sources" width="100%" class="ion-padding-vertical">
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <h1>{{ source.category }}</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col size="auto" class="ion-align-self-start" *ngFor="let media of source.medias">
        <ion-card (click)="onCardClicked(media)" style="width: 250px; height: 166px;  padding-top: 0px; padding-bottom: 0px; display: flex; flex-direction: column;" class="ion-text-center ion-align-items-center ion-padding">
          <img *ngIf="media.logo" [src]="media.logo" style="object-fit: contain; margin: auto; max-height: 64px;" />

          <ion-card-header *ngFor="let program of getProgram(media)" class="ion-padding-vertical" style="white-space: nowrap; align-self: normal; padding-bottom: 0px;">
            <ion-card-title style="overflow: hidden;">{{ program.title }}</ion-card-title>
            <p>{{ program.timeInterval }}</p>
          </ion-card-header>

          <!-- <ion-card-header *ngIf="(media.category == 'Twitch' || media.category == 'Youtube') && media.name && media.description" class="ion-no-padding" style="padding-bottom: 0px;margin-top: auto; margin-bottom: auto;">
            <ion-card-title style="overflow: hidden;">{{ media.name }}</ion-card-title>
            <p>{{ media.description }}</p>
          </ion-card-header> -->

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
