.vjs-control-bar {
  height: 60px !important;
}

.vjs-button {
  padding: 0px 32px !important;
}

.vjs-icon-placeholder {
  font-size: 21px;
}

.vjs-volume-control {
  margin: auto !important;
}

.vjs-live-display {
  display: none;
}

.vjs-subs-caps-button {
  display: none;
}
