<app-player-menu #menu></app-player-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" routerDirection="back">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ media.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="player-content">
  <div style="background-color: black; width: 100%; height: calc(100% - 56px); display: flex; justify-content: center; align-items: center;">

    <!-- <div *ngIf="media?.isYoutube" style="width: 100%; height: 100%" >
      <iframe style="width: 100%; height: 100%" [src]="domSanitizer.bypassSecurityTrustResourceUrl(media.url)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->

    <div *ngIf="media?.isShaka" id="videoContainer" #videoContainer class="amsterdam-acid-blue" style="width: 100%; height: 100%;">
        <video #videoPlayer id="videoPlayer" width="100%" height="100%"></video>
    </div>

    <div *ngIf="media?.isVideoJs" style="width: 100%; height: 100%;">
      <video #video controls autoplay class="video-js vjs-default-skin vjs-big-play-centered"
              style="width: 100%; height: 100%;
              background-image: url({{ media.logo }});
              background-origin: content-box; padding: {{ media.isTv ? 0 : 64}}px;
              background-size: contain; background-position: center; background-repeat: no-repeat;">
              <!-- Keep inline style on <video> so they are copied when video.js takes control -->
      </video>
    </div>

    <div *ngIf="media?.isNative" style="width: 100%; height: 100%; display: flex; flex-direction: column;">
      <div style="flex-grow: 1; margin: 64px;
                  background-image: url({{ media.logo }});
                  background-size: contain; background-position: center; background-repeat: no-repeat;">
      </div>

      <audio #audio controls autoplay [src]="media?.url" style="width: 100%;"></audio>
    </div>

  </div>

  <ion-tabs style="height: 56px; top: auto;">
    <ion-tab-bar slot="bottom">
      <ion-tab-button *ngFor="let category of CATEGORIES"
      [attr.selected]="category == media.category"
      (click)="onTabClicked(category)">
        <ion-icon name="{{ media?.ionicon(category) }}"></ion-icon>
        <ion-label>{{ category }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
