<ion-menu side="start" menuId="browse-category-menu" contentId="player-content" (ionWillOpen)="willOpen()">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ menuCategoryName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let media of mediasForCategory" button (click)="onItemClicked(media)">
        <div style="display: flex; flex-direction: column; text-align: center; width: 100%;">
          <img  *ngIf="media.logo" style="object-fit: contain; margin: 16px auto; height: 32px; filter: drop-shadow(0px 0px 1px whitesmoke);" [src]="media.logo" />

          <div *ngFor="let program of getProgram(media)" class="ion-padding-bottom">
            <p class="title">{{ program.title }}</p>
            <p class="subtitle">{{ program.timeInterval }}</p>
          </div>

          <!-- <div *ngIf="(media.category == 'Twitch' || media.category == 'Youtube') && media.name && media.description" class="ion-padding">
            <p class="title">{{ media.name }}</p>
            <p class="subtitle">{{ media.description }}</p>
          </div> -->
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
